{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}" >
{% endblock %}

{% block body %}

    <!-- <div id="cover">
        <form method="get" action="">
            <div class="tb">
                <div class="td"><input type="text" placeholder="Search" required></div>
                <div class="td" id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
        </form>
    </div> -->

    <div class="wrapper">
    <!-- Enter a topic you would like to analyse -->
        <span></span>
        <div class="form">
        <form action="/" method="POST">
            <input type="text"
                    name="input"
                    id="input"
                    placeholder="Enter a topic you would like to analyse"
                    onfocus="this.placeholder = ''"
                    onblur="this.placeholder = 'Enter a topic you would like to analyse'"
                    />
            <input type="submit" value="Analyse">
        </form>
        </div>
    </div>






{% endblock %}
